.header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 60px 96px rgba(0, 0, 0, 0.007), 0 30px 48px rgba(0, 0, 0, 0.01), 0 18px 29px rgba(0, 0, 0, 0.01), 0 12px 19px rgba(0, 0, 0, 0.015), 0 8px 12px rgba(0, 0, 0, 0.02), 0 5px 8px rgba(0, 0, 0, 0.02), 0 3px 4px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.03);
    background-color: $white;
    line-height: 20px;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav > ul {
        display: flex;

        > li {
            display: flex;
            align-items: center;
            text-align: center;
            padding: 0 25px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .secondaryMenu {
        display: flex;
        align-items: center;
        padding: 5px 0;
        background-color: $darkBlue;

        li {
            border-right: 1px solid rgba($white, 0.1);

            &:last-of-type {
                border-right: none;
            }

            a {
                font-size: 12px;
                line-height: 18px;
                color: rgba($white, 0.8);
            }

            a:hover,
            a:active {
                color: $white;
            }
        }
    }

    .langChange {
        .dropTrigger p {
            font-size: 12px;
            font-weight: 600;
            color: $white;
        }

        svg {
            fill: $blue;
        }

        li {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        input {
            display: none;
        }
    }

    .menuDrop {
        display: initial;

        .dropTrigger.whileOpened {
            p {
                color: $blue;
            }

            svg {
                stroke: $blue;
            }
        }

        .dropContent {
            margin-top: 25px;
        }

        svg {
            fill: transparent;
            stroke: $darkBlue;
        }
    }

    .mainMenu {
        display: flex;
        align-items: center;
        padding: 8px 0;
        white-space: nowrap;

        .wrapper {
            justify-content: flex-end;

            @media only screen and (max-width: 1280px) {
                justify-content: space-between;
            }
        }

        nav {
            margin-right: 130px;

            @media only screen and (max-width: 1280px) {
                margin-right: 0;
            }
        }

        nav > ul {
            align-items: center;
            flex-wrap: wrap;

            > li a,
            > li p {
                font-weight: 600;
            }

            @media only screen and (max-width: 1024px) {
                > li {
                    padding-left: 0;
                }
            }
        }

        .menuInfo {
            display: flex;

            .contacts {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-right: 20px;
                padding-right: 20px;
                border-right: 1px solid rgba($darkBlue, 0.1);

                p {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                }
            }

            .socials,
            .interactive {
                display: flex;

                a {
                    display: flex;
                    align-items: center;
                    margin-right: 12px;
                }

                svg {
                    fill: rgba($darkBlue, 0.5);
                }
            }

            .socials {
                display: none;
            }

            .toBasket {
                display: flex;
                align-items: center;

                .basketCount {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        fill: $blue;
                    }

                    span {
                        display: none;
                    }

                    & + span {
                        margin-left: 8px;
                        font-size: 16px;
                        line-height: 24px;
                        color: $blue;
                    }
                }

                &.isNotEmpty {
                    .basketCount {
                        svg {
                            fill: $blueClick;
                        }

                        span {
                            position: absolute;
                            top: -9px;
                            right: -4px;
                            display: block;
                            font-size: 10px;
                            line-height: 13px;
                            border-radius: 1000px;
                            padding: 0 4px;
                            background-color: $red;
                            color: $white;
                        }

                        & + span {
                            color: $blueClick;
                        }
                    }
                }
            }
        }
    }

    .hamburger {
        display: none;
    }

    @media only screen and (max-width: 768px) {
        flex-direction: row;
        justify-content: space-between;

        .wrapper {
            width: initial;
            max-width: initial;
        }

        .secondaryMenu {
            padding: 6px 0;
            width: 50%;
            background-color: $white;

            nav,
            .search {
                display: none;
            }
        }

        .langChange {
            .dropTrigger p {
                color: rgba($darkBlue, 0.5);
            }
        }

        .mainMenu {
            padding: 6px 0;

            nav {
                display: none;
            }

            .menuInfo {
                .socials {
                    display: flex;

                    a {
                        margin-right: 22px;
                    }
                }

                .contacts {
                    margin-right: 16px;
                    padding-right: 16px;

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                    }

                    .interactive a {
                        display: none;
                    }

                    .interactive button {
                        font-size: 12px;
                        line-height: 18px;
                    }
                }

                .toBasket {
                    margin-right: 20px;
                }
            }
        }

        .hamburger {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 13px;
            background-color: $blue;

            svg {
                width: 24px;
                fill: $white;
            }

            svg.opened {
                display: none;
                z-index: 1010;
            }

            svg.closed {
                display: block;
            }
        }

        &.mobile {
            .hamburger {
                .opened {
                    display: flex;
                }

                .closed {
                    display: none;
                }
            }
        }
    }

    @media only screen and (max-width: 480px) {
        .secondaryMenu,
        .mainMenu .menuInfo .socials,
        .mainMenu .menuInfo .contacts,
        .mainMenu .menuInfo .toBasket span {
            display: none;
        }

        .mainMenu {
            width: 100%;

            .wrapper {
                margin: 0 0 0 auto;
            }
        }
    }
}
