.header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 60px 96px rgba(0, 0, 0, 0.007), 0 30px 48px rgba(0, 0, 0, 0.01), 0 18px 29px rgba(0, 0, 0, 0.01), 0 12px 19px rgba(0, 0, 0, 0.015), 0 8px 12px rgba(0, 0, 0, 0.02), 0 5px 8px rgba(0, 0, 0, 0.02), 0 3px 4px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.03);
    background-color: $white;
    line-height: 20px;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;

        li {
            display: flex;
            align-items: center;
            text-align: center;
            padding: 0 25px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .secondaryMenu {
        padding: 5px 0;
        background-color: $darkBlue;

        li {
            border-right: 1px solid rgba($white, 0.1);

            &:last-of-type {
                border-right: none;
            }

            a {
                font-size: 12px;
                line-height: 18px;
                color: rgba($white, 0.8);
            }

            a:hover,
            a:active {
                color: $white;
            }
        }
    }

    .langChange {
        .dropContent {
            border-radius: 5px;
            padding: 8px 0;
            filter: drop-shadow(0 60px 96px rgba(0, 0, 0, 0.007)) drop-shadow(0 30px 48px rgba(0, 0, 0, 0.01)) drop-shadow(0 18px 29px rgba(0, 0, 0, 0.01)) drop-shadow(0 12px 19px rgba(0, 0, 0, 0.015)) drop-shadow(0 8px 12px rgba(0, 0, 0, 0.02)) drop-shadow(0 5px 8px rgba(0, 0, 0, 0.02)) drop-shadow(0 3px 4px rgba(0, 0, 0, 0.02)) drop-shadow(0 1px 2px rgba(0, 0, 0, 0.03));
            background-color: $white;
        }

        .dropTrigger p {
            padding-right: 4px;
            font-size: 12px;
            font-weight: 600;
            color: $white;
        }

        svg {
            fill: $blue;
        }

        li {
            cursor: pointer;
            padding: 5px 16px;

            span {
                cursor: pointer;
                color: rgba($darkBlue, 0.8);
            }

            &.active {
                span {
                    color: rgba($blue, 0.8);
                }
            }

            &:hover {
                background-color: $grayv2;

                span {
                    color: $blueHover;
                }
            }
        }

        input {
            display: none;
        }
    }

    .mainMenu {
        padding: 8px 0;

        .wrapper {
            justify-content: flex-end;
        }

        nav {
            display: flex;
            align-items: center;

            .hamburger {
                display: flex;
                margin-right: 16px;

                svg {
                    width: 24px;
                }

                svg.opened {
                    display: none;
                    z-index: 1010;
                }

                svg.closed {
                    display: block;
                }
            }

            ul {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }

            li a {
                white-space: nowrap;
                font-weight: 600;
            }
        }

        .menuInfo {
            display: flex;

            .contacts {
                margin-right: 20px;
                padding-right: 20px;
                border-right: 1px solid rgba($darkBlue, 0.1);
            }

            .toBasket {
                display: flex;
                align-items: center;

                svg {
                    fill: $blueClick;
                }

                span {
                    margin-left: 8px;
                    font-size: 16px;
                    line-height: 24px;
                    color: $blueClick;
                }
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        &.mobile {
            overflow-y: scroll;
            justify-content: center;
            align-items: flex-start;
            position: absolute;
            top: 0;
            left: 0;
            padding: 14px 0;
            height: 100%;
            z-index: 1005;

            .wrapper {
                flex-direction: column;
                padding: 0;
            }

            .secondaryMenu {
                order: 1;

                .forLogo {
                    display: none;
                }

                .contacts {
                    align-items: center;
                    width: 100%;

                    > * {
                        margin-bottom: 15px;
                    }

                    .socialsTel {
                        flex-direction: column;

                        div {
                            justify-content: space-evenly;
                            margin-bottom: 15px;

                            .socialLink {
                                margin-right: 0;
                            }
                        }

                        p {
                            margin: 0;
                        }
                    }
                }
            }

            .mainMenu {
                order: 0;
                flex-direction: column;
                margin-bottom: 50px;

                .forMenu {
                    flex-direction: column;

                    .toHome {
                        margin-right: 0;
                        margin-bottom: 15px;
                    }
                }
            }

            .secondaryMenu .contacts,
            .secondaryMenu .clinicsNearby,
            .toHome,
            .mainMenu ul,
            .interactive {
                display: flex;
            }

            .mainMenu nav {
                .hamburger {
                    position: absolute;
                    top: 13px;
                    right: 0;

                    .opened {
                        display: flex;
                    }

                    .closed {
                        display: none;
                    }
                }

                ul {
                    flex-direction: column;

                    li {
                        margin-right: 0;
                        margin-bottom: 15px;
                        padding-right: 0;
                        border: none;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {

    }
}
