* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s linear;
}

html {
    scroll-behavior: smooth;
}

label {
    margin: 0;
}

a,
button,
input,
textarea,
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button:active,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input:focus,
textarea:focus {
    outline: 0 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: all 0s 50000s;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

button::-moz-focus-inner {
    border: 0;
}

ul {
    list-style-type: none;
}

ol {
    list-style-position: inside;
}

p,
ul {
    margin: 0;
}

h3 {
    font-size: 28px;
    line-height: 32px;
    color: $darkBlue;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1170px;

    @media only screen and (min-width: 2500px) {
        max-width: 1600px;
    }

    @media only screen and (max-width: 1024px) {
        max-width: 768px;
    }
}

body {
    background-color: $white;
    color: $darkBlue;

    &.noScroll {
        height: 100vh;
        width: 100%;
        position: fixed;
        overflow-y: scroll;
    }
}

a {
    cursor: pointer;
    text-decoration: none !important;
    color: $darkBlue;

    &:hover {
        color: $blueHover;

        svg {
            fill: $blueHover !important;
        }
    }

    &:active {
        color: $blueClick;

        svg {
            fill: $blueClick !important;
        }
    }
}

button {
    color: rgba($darkBlue, 0.5);

    &:hover {
        color: $blueHover;
    }

    &:active {
        color: $blueClick;
    }
}

.search {
    position: relative;
    width: 273px;
    height: 30px;

    input {
        border-radius: 5px;
        border: none;
        padding: 5px 30px 5px 10px;
        width: 100%;
        height: 100%;
        background-color: rgba($white, 0.1);
        color: rgba($white, 0.5);

        &::placeholder {
            color: rgba($white, 0.5);
        }
    }

    svg {
        pointer-events: none;
        position: absolute;
        top: 8px;
        right: 10px;
        width: 14px;
        height: 14px;
        fill: transparent;
        stroke: rgba($white, 0.5);
    }

    @media only screen and (max-width: 1024px) {
        width: 252px;
    }

    @media only screen and (max-width: 768px) {
        input {
            height: 32px;
            background-color: rgba($cardGray, 0.1);
            color: rgba($darkBlue, 0.5);

            &::placeholder {
                color: rgba($darkBlue, 0.5);
            }
        }

        svg {
            stroke: rgba($darkBlue, 0.5);
        }
    }
}

.dropdown {
    position: relative;

    .dropTrigger {
        display: flex;
        align-items: center;
        cursor: pointer;

        p {
            padding-right: 4px;
        }

        svg {
            transition: 0.2s transform ease-in-out;
        }

        &.whileOpened svg {
            transform: rotate(-180deg) !important;
        }
    }

    .dropContent {
        display: none;
        flex-direction: column;
        z-index: 1;
        min-width: 100%;

        li {
            cursor: pointer;
            padding: 10px 16px;

            span,
            a {
                cursor: pointer;
                white-space: nowrap;
            }

            &.active {
                span,
                a {
                    color: rgba($blue, 0.8);
                }
            }

            &:hover {
                span,
                a {
                    color: $blue;
                }
            }
        }

        &.openDrop {
            display: flex !important;
        }
    }

    &.modal {
        .dropContent {
            position: absolute;
            left: 0;
            margin-top: 4px;
            border-radius: 5px;
            padding: 8px 0;
            filter: drop-shadow(0 60px 96px rgba(0, 0, 0, 0.007)) drop-shadow(0 30px 48px rgba(0, 0, 0, 0.01)) drop-shadow(0 18px 29px rgba(0, 0, 0, 0.01)) drop-shadow(0 12px 19px rgba(0, 0, 0, 0.015)) drop-shadow(0 8px 12px rgba(0, 0, 0, 0.02)) drop-shadow(0 5px 8px rgba(0, 0, 0, 0.02)) drop-shadow(0 3px 4px rgba(0, 0, 0, 0.02)) drop-shadow(0 1px 2px rgba(0, 0, 0, 0.03));
            background-color: $white;
        }

        li {
            span,
            a {
                font-weight: initial !important;
                color: rgba($darkBlue, 0.8);
            }

            &:hover {
                background-color: $grayv2;

                span,
                a {
                    color: $blueHover;
                }
            }
        }
    }
}

.modalAnimation {
    animation: SHW .3s;
    animation-fill-mode: both
}

@keyframes SHW {
    from {
        transform: scale(0);
        opacity: 0
    }
    to {
        transform: scale(1);
        opacity: 1
    }
}
