<header class="header">
    <div class="secondaryMenu">
        <div class="wrapper">
            <div class="dropdown langChange">
                <div class="dropTrigger">
                    <p>RU</p>
                    {% include '../../img/svg/arrowTip.svg' %}
                </div>
                <ul class="dropContent">
                    <li class="active"><label>
                        <span>RU</span>
                        <input type="radio" name="lang" value="ru" checked>
                    </label></li>
                    <li><label>
                        <span>EN</span>
                        <input type="radio" name="lang" value="en">
                    </label></li>
                </ul>
            </div>
            <nav>
                <ul>
                    {% for item in secondaryMenuData %}
                    <li><a href="{{item.src}}">{{item.name}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <label class="search">
                <input class="inputField" type="text" placeholder="Поиск..." id="topSearch">
                {% include '../../img/svg/search.svg' %}
            </label>
        </div>
    </div>
    <div class="mainMenu">
        <div class="wrapper">
            <nav>
                <!--                <button class="hamburger">-->
                <!--                    {% include '../../img/svg/hamburger.svg' %}-->
                <!--                    {% include '../../img/svg/hamburgerActive.svg' %}-->
                <!--                </button>-->
                <ul>
                    {% for item in mainMenuData %}
                    <li><a href='{{item.src}}'>{{item.name}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="menuInfo">
                <div class="contacts">
                    <p>+7 (499) 877-41-45</p>
                    <div>
                        <a href=""> {% include '../../img/svg/telegram.svg' %}</a>
                        <a href=""> {% include '../../img/svg/whatsapp.svg' %}</a>
                        <button>Заказать звонок</button>
                    </div>
                </div>
                <button class="toBasket">
                    {% include '../../img/svg/shopping-bag.svg' %}
                    <span>Корзина</span>
                </button>
            </div>
        </div>
</header>
