<header class="header">
    <div class="secondaryMenu">
        <div class="wrapper">
            <div class="dropdown modal langChange">
                <div class="dropTrigger">
                    <p>RU</p>
                    {% include '../../img/svg/arrowTip.svg' %}
                </div>
                <ul class="dropContent">
                    <li class="active"><label>
                        <span>RU</span>
                        <input type="radio" name="lang" value="ru" checked>
                    </label></li>
                    <li><label>
                        <span>EN</span>
                        <input type="radio" name="lang" value="en">
                    </label></li>
                </ul>
            </div>
            <nav>
                <ul>
                    {% for item in secondaryMenuData %}
                    <li><a href="{{item.link}}">{{item.name}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <label class="search">
                <input class="inputField" type="text" placeholder="Поиск..." id="topSearch">
                {% include '../../img/svg/search.svg' %}
            </label>
        </div>
    </div>
    <div class="mainMenu">
        <div class="wrapper">
            <nav>
                <ul>
                    {% for item in mainMenuData %}
                    {% if item.type == 'dropdown' %}
                    <li class="dropdown modal menuDrop">
                        <div class="dropTrigger">
                            <p>{{item.name}}</p>
                            {% include '../../img/svg/chevron-down.svg' %}
                        </div>
                        <ul class="dropContent">
                            {% for element in item.elements %}
                            <li>
                                <a href="{{element.link}}">{{element.name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li><a href='{{item.link}}'>{{item.name}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            <div class="menuInfo">
                <div class="contacts">
                    <p class="tel">+7 (499) 877-41-45</p>
                    <div class="interactive">
                        <a href="https://web.telegram.org"> {% include '../../img/svg/telegram.svg' %}</a>
                        <a href="https://www.whatsapp.com"> {% include '../../img/svg/whatsapp.svg' %}</a>
                        <button>Заказать звонок</button>
                    </div>
                </div>
                <a href="../basket" class="toBasket isNotEmpty">
                    <div class="basketCount">
                        {% include '../../img/svg/shopping-bag.svg' %}
                        <span>2</span>
                    </div>
                    <span>Корзина</span>
                </a>
                <button class="hamburger">
                    {% include '../../img/svg/hamburger.svg' %}
                    {% include '../../img/svg/hamburgerActive.svg' %}
                </button>
            </div>
        </div>
</header>
